<h2 class="animation">2D CHAMPION LEADERBOARD</h2>

<div class="section">
  <div class="leaderboard">
    <h4 class="animation">Daily Leaderboard</h4>
    <div class="animation">
      <table>
        <thead>
          <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of dailyLeaderboard; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ player.username }}</td>
            <td>{{ player.score }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="leaderboard">
    <h4>Weekly Leaderboard</h4>
    <div class="animation">
      <table>
        <thead>
          <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of weeklyLeaderboard; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ player.username }}</td>
            <td>{{ player.score }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="leaderboard">
    <h4>Monthly Leaderboard</h4>
    <div class="animation">
      <table>
        <thead>
          <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of monthlyLeaderboard; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ player.username }}</td>
            <td>{{ player.score }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
