table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

thead {
	background-color: #000000;
	color: #fff;
}

th, td {
	padding: 10px;
	text-align: center;
}

h2{
    color: #000000;
    font-weight: 800;
    font-size: 70px;
    display: flex;
   position: inherit;
   padding-left: 24%;
}
body{
    border: solid rgb(0, 0, 0) 20px;
    background-image: linear-gradient(to right, rgb(255, 0, 255), #00ffff);
}
h4{
    position: relative;
    height: 50px;
    border: solid white;
    background-color: #a200ff;
}
