table {
  border: solid white 1px;
    width: 100%;
    border-collapse: collapse;
   
  }
  
  thead {
    border: solid white 1px;
    background-color: #000000;
    color: #fff;
  }
  
  th,
  td {
    padding: 10px;
    text-align: center;
  }
  
  h2 {
    color: #000000;
    font-weight: 800;
    font-size: 70px;
    display: flex;
    position: inherit;
    padding-left: 17%;
  }
  
  body {
    width: 1600px;
    height: 850px;
    top: 15%;
    border: solid #a200ff 25px;
    background: black;
  }
  .animation {
    animation: fade-in 1s ease-out;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  h4 {
    text-align: center;
    font-weight: 400;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
    position: initial;
    height: 50px;
    padding-top: 1.5%;
    background-color: #a200ff;
    width: 100%;
    margin-bottom: 0px;
  }
  
  .section {
    background-color: linear-gradient(to right, rgb(255, 0, 255), #00ffff);
    padding-left: 1%;
    width: 100%;
    display: flex;
    margin-right: 50%;
  }
  
  .leaderboard {
    background: linear-gradient(to right, #FF00FF, #00ffff);
    border: solid black 1px;
    flex: 1;
    margin-right: 1%;
  }