table {
  border: solid white 1px;
  width: 100%;
  border-collapse: collapse;
}

thead {
  border: solid white 1px;
  background-color: #000000;
  color: #fff;
}

th,
td {
  padding: 10px;
  text-align: center;
}

h2 {
  padding: 1%;
  margin-bottom: 1%;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), #a200ff);
  border: solid #ffffff;
  width: 100%;
  text-align: center;
  font-size: 56px;
  color: #ffffff;
position: relative;
}

body {
  width: 1600px;
  height: 850px;
  top: 15%;
  border: solid #a200ff 25px;
  background: black;
}

.animation {
  animation: fade-in 1s ease-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h4 {
  text-align: center;
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
  position: initial;
  height: 50px;
  padding-top: 1.5%;
  background-color: #a200ff;
  width: 100%;
  margin-bottom: 0px;
}

.section {
  background-color: linear-gradient(to right, rgb(0, 0, 0), #a200ff);
  padding-left: 1%;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Updated */
}

.leaderboard {
  color: #ffffff;
  background: linear-gradient(to right, #a200ff, #000000);
  border: solid black 1px;
  flex: 1;
  margin-right: 1%;
  padding: 1%; /* Added */
}
.main{
  top: 15%;

  margin-top: 2%;
  background-color: linear-gradient(to right, rgb(0, 0, 0), #a200ff);
  border: solid #a200ff 25px;
    width: 1400px;
}
@media (max-width: 1200px) {
  .main {
    padding: 0.5rem;
  }
}

@media (max-width: 576px) {
  .main{
    margin: 2%;
  }
  .section {

    flex-direction: column;
  }
}
@media(max-width:1400px){
  .main{
    margin: 2%;

  }
}
