body {
    align-items: center;
    width: 80%;
    background-color: #000000;
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    border: solid white;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }
  
  h1 {
    margin-bottom: 10%;
    background-image: linear-gradient(to right, rgb(255, 0, 255), #00ffff);
    border: solid #a200ff;
    width: 118%;
    text-align: center;
    font-size: 56px;
    color: #ffffff;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    color: #a8a8a8;
    margin-bottom: 20px;
  }
  
  .animation {
    animation: fade-in 1s ease-out;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }