.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  border: solid 25px #a200ff;
  margin-top: 5%;

}

h1 {
  font-weight: 900;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  margin-bottom: 1.5rem;
  background-image: linear-gradient(to bottom,rgb(0,0,0),#a200ff);
  border: solid white;
  width: 100%;
}

h5 {
  color: white;
  margin-bottom: 1rem;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #a8a8a8;
  margin-bottom: 1.5rem;
}

.animation {
  animation: fade-in 1s ease-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.containermain {
  display: flex;
  flex-direction: column;
}

.container2 {
  display: flex;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

.d1,
.d2,
.d3 {
  flex-basis: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid purple;
  margin: 10px;
}

h6 {
  color: white;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 14px;
  }
}
