<div class="container">
  <h1 class="animation">Welcome to 2D Champion!</h1>
  <h5>Play, Compete, and Win!</h5>
  <p>2D Champion is a platform where gamers can come together to play and compete in 2D games. Our website features a leaderboard where users can see their high scores and challenge others. The game repository is open source, allowing users to contribute and enhance the gaming experience. The top 3 players on the leaderboard win amazing prizes.</p>
  <div class="containermain">
    <div class="container2">
      <div class="d1">
        <h6>Welcome to 2D CHAMPION</h6>
        <p class="animation">Experience the thrill of 2D gaming and compete with players from around the world. Join our open-source game repository and contribute to the development of exciting games. Climb the leaderboard and win exciting prizes as one of the top 3 players.</p>
      </div>
      <img src="./assets/img1.svg" alt="">

    </div>


    <div class="container2">
      <img src="./assets/img2.svg" alt="">
      <div class="d2">
        <h6>Play and Win</h6>
        <p class="animation">Experience the thrill of playing 2D games and compete with other players on our leaderboard. Show off your skills and climb to the top to win exciting prizes.</p>
      </div>
    </div>

    <div class="container2">
      <div class="d3">
        <h6>Contribute Your Games</h6>
        <p class="animation">Share your creations with the 2D Champion community. Contribute your game to our GitHub repository and see them featured on our website.</p>
        <a style="color: #a200ff;" href="https://github.com/rishibaghel25/2DChampion.git" target="_blank" class="btn">GitHub repository</a>
      </div>
      <img src="./assets/img1.svg" alt="">
    </div>
  </div>
</div>
