nav{
    height: 80px;
    /* background-image: linear-gradient(to right, rgb(255, 0, 255), #00ffff); */
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    padding-right: 2%;
    font-size: 150%;
    display: flex;
}
nav li {
    margin: 0 18px;
}
a:hover {
    color: #ff00ff;
    transition: 0.5s;
}
nav a {
    text-decoration: none;
}
.btn{
    margin-left: 0px;
    margin-top: 2%;
    margin-right: 1%;
    border: solid black;
    color: black;
    font-size: 110%;
    font-family: 'Courier New', Courier, monospace;
}
app-leaderboard{
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
app-about{ 
    padding-bottom: 10%;
    margin-top: 5%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
app-games{
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.btn {
    background-color: #a200ff; /* Set the default background color */
    color: #000000; /* Set the default text color */
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  
}