nav{
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    font-size: 150%;
    display: flex;
}
nav li {
    margin: 0 18px;
}
a:hover {
    color: rgb(255, 0, 255);
    transition: 0.5s;
}
nav a {
    text-decoration: none;
}
.btn{
    background-color: black;color: blue;
    font-size: 100%;
}