<nav>
  <img src="./assets/2D.png" alt="2DChampion">
  <ul>
    <li>
      <button (click)="toggleGames()" class="btn">Games</button>
      <app-games *ngIf="isGamesVisible"></app-games>
    </li>
    <li>
      <button (click)="toggleLeaderboard()" class="btn">Leaderboard</button>
      <app-leaderboard *ngIf="isLeaderboardVisible"></app-leaderboard>
    </li>
    <li>
      <button (click)="toggleAbout()" class="btn">About</button>
      <app-about *ngIf="isAboutVisible"></app-about>
    </li>
    <li *ngIf="authService.isLoggedIn()">
      <button (click)="toggleProfile()" class="btn">Profile</button>
      <app-profile *ngIf="isProfileVisible"></app-profile>
    </li>
    <li *ngIf="!authService.isLoggedIn()">
      <a routerLink="login" target="_blank" class="btn">Login</a>
    </li>
    <li *ngIf="authService.isLoggedIn()">
      <button (click)="logout()" class="btn">Logout</button>
    </li>
  </ul>
</nav>

<app-homeanimation *ngIf="isAnimationVisible"></app-homeanimation>
