<nav>
  <img src="navimg.svg" alt="2DChampion">
  <ul>
    <li>
      <button (click)="toggleGames()" class="btn">Games</button>
      <app-games *ngIf="isGamesVisible"></app-games>
    </li>
    <li>
      <button (click)="toggleLeaderboard()" class="btn">Leaderboard</button>
      <app-leaderboard *ngIf="isLeaderboardVisible"></app-leaderboard>
    </li>
    <li>
      <button (click)="toggleAbout()" class="btn">About</button>
      <app-about *ngIf="isAboutVisible"></app-about>
    </li>
    <ng-container *ngIf="!isAuthenticated()"> 
      <li>
        <a routerLink="login" target="_blank" class="btn">Login</a>
      </li>
    </ng-container>
    <ng-container *ngIf="isAuthenticated()"> 
      <li>
        <button (click)="logout()" class="btn">Logout</button>
      </li>
    </ng-container>
  </ul>
</nav>

<app-homeanimation></app-homeanimation>
