<main>
  <h2>GAMES</h2>
  <div id="game-list">
    <div class="game , animation">
      <img style="border-color: black 2px;" src="./assets/PP.svg" alt="Game 1">
      <h3 style="font-size:25px; font-weight: 500;">Pixel Python</h3>
      <p style="font-size: 20px;">Dive into the retro world of Pixel Python, where you control a pixelated serpent, navigating a pixel-perfect landscape and devouring pixels to gain points</p>
      <button routerLink="snake" target="_blank" class="play-btn" >Play Now</button>
    </div>
    <!-- add more games as needed -->
    <p style="position: relative;margin-left: 0px;margin-top: 0px;color: white;margin-right: 0px;">More games are coming soon!</p>
  </div>
</main>
