
<body  >
    <div class="Signup-form" style="
    margin-top: 10%;
">
        <form (ngSubmit)="submit()">
            <h1 style="color: black; font-weight: 700; padding-top: 0px; padding-left: 33%;">SIGNUP</h1>
            <div class="content">
                <div class="input-field">
                    <input type="text" placeholder="Name" [(ngModel)]="form.name" name="name" >
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Username" [(ngModel)]="form.username" name="username">
                </div>
                <div class="input-field">
                    <input type="email" placeholder="Email" [(ngModel)]="form.email" name="email">
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Password" [(ngModel)]="form.password" name="password">
                </div>
            </div>
            <div class="action">
                <a routerLink="/login" class="btn">Login</a>
                <button>Sign up</button>
            </div>
        </form>
    </div>
</body>
