
<body  >
    <div class="Signup-form" style="
    margin-top: 10%;
">
        <form>
            <h1 style="color: black; font-weight: 700; padding-top: 0px; padding-left: 33%;">SIGNUP</h1>
            <div class="content">
                <div class="input-field">
                    <input type="text" placeholder="Name" autocomplete="off">
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Username" autocomplete="off">
                </div>
                <div class="input-field">
                    <input type="email" placeholder="Email" autocomplete="off">
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Password" autocomplete="new-password">
                </div>
            </div>
            <div class="action">
                <a routerLink="/login" class="btn">Login</a>
                <button>Sign up</button>
            </div>
        </form>
    </div>
</body>
