* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  h1{    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    padding-top: 0px;
    padding-left: 165px;
    position: relative;
    font-size: 50px;
    background-color: #a200ff;
    border: solid white 2px;
  }
  
  body {  font-family: 'Courier New', Courier, monospace;
    height: 1001px;
    padding-top: 52px;
    border: solid #a200ff 25px;
    background: black;  /* background: #e35869; */
    font-family: 'Rubik', sans-serif;
  }
  
  .Signup-form {
    
    background: linear-gradient(to right, #FF00FF, #00ffff);
    width: 500px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px #a200ff;
  }
  .Signup-form h1 {
    padding: 35px 35px 0 35px;
    font-weight: 300;
  }
  .Signup-form .content {
    padding: 35px;
    text-align: center;
  }
  .Signup-form .input-field {
    padding: 12px 5px;
  }
  .Signup-form .input-field input {
    font-size: 16px;
    display: block;
      width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .Signup-form .input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
  }
  .Signup-form .input-field input::-moz-placeholder {
    text-transform: uppercase;
  }
  .Signup-form .input-field input:-ms-input-placeholder {
    text-transform: uppercase;
  }
  .Signup-form .input-field input::-ms-input-placeholder {
    text-transform: uppercase;
  }
  .Signup-form .input-field input::placeholder {
    text-transform: uppercase;
  }
  .Signup-form .input-field input:focus {
    border-color: #ffffff;
  }
  .Signup-form a.link {
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
  }
  .Signup-form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
  .Signup-form .action button {
    width: 100%;
    border: solid white 2px;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #000000;
    color: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .Signup-form .action button:hover {
    color: #000;
    border: solid black 2px;
    background: #a200ff;
  }
  .Signup-form .action button:nth-child(2) {
    background: #000000;
    color: #ffffff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
  }
  .Signup-form .action button:nth-child(2):hover {
    background: #a200ff;
    color: #000000;
  }
  input{
    background-color: #000000;
    color: white;
  }
  app-login{
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn{
  width: 100%;
  border: solid white 2px;
  padding: 18px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: #000000;
  color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}