<body>
  <div class="Signup-form" style="margin-top: 10%;">
    <form #Signupform="ngForm" (ngSubmit)="signupUser(Signupform.value)" #myForm="ngForm">
      <h1 style="color: black; font-weight: 700; padding-top: 0px; padding-left: 33%;">SIGNUP</h1>
      <div class="content">
        <div class="input-field">
          <input type="text" placeholder="Name" [(ngModel)]="form.name" name="name" #name="ngModel" required minlength="3" maxlength="30">
        </div>
        <div style="border: solid red; background: palevioletred;" *ngIf="name.invalid && (name.touched || name.dirty)">
          Name field must be valid
        </div>

        <div class="input-field">
          <input type="text" placeholder="Username" [(ngModel)]="form.username" name="username" #username="ngModel" required minlength="3" pattern="^[a-z0-9]+$">
        </div>
        <div style="border: solid red; background: palevioletred;" *ngIf="username.invalid && (username.touched || username.dirty)">
          Username field must be valid
        </div>

        <div class="input-field">
          <input type="email" placeholder="Email" [(ngModel)]="form.email" name="email" #email="ngModel" required email>
        </div>
        <div style="border: solid red; background: palevioletred;" *ngIf="email.invalid && (email.touched || email.dirty)">
          Email field must be valid
        </div>

        <div class="input-field">
          <input type="password" placeholder="Password" [(ngModel)]="form.password" name="password" #password="ngModel" required minlength="6">
        </div>
        <div style="border: solid red; background: palevioletred;" *ngIf="password.invalid && (password.touched || password.dirty)">
          Password field must be valid
        </div>
      </div>
      <div class="action">
        <a routerLink="/login" class="btn">Login</a>
        <button [disabled]="myForm.form.invalid">
          <ng-container *ngIf="isLoading; else signUpText">
            Loading...
          </ng-container>
          <ng-template #signUpText>
            Sign up
          </ng-template>
        </button>
      </div>
    </form>
  </div>
</body>

