<body>
  <div class="ForgotPassword-form" style="margin-top: 10%;">
    <form #ForgotPasswordform="ngForm" (ngSubmit)="sendForgotPasswordEmail(ForgotPasswordform.value)" #myForm="ngForm">
      <h1 style="color: black; font-weight: 700; padding-top: 0px; padding-left: 33%;">FORGOT PASSWORD</h1>
      <div class="content">
        <div class="input-field">
          <input type="text" placeholder="Email or Username" [(ngModel)]="form.emailOrUsername" name="emailOrUsername" #emailOrUsername="ngModel" required>
        </div>
        <div style="border: solid red; background: palevioletred;" *ngIf="emailOrUsername.invalid && (emailOrUsername.touched || emailOrUsername.dirty)">
          Email or Username field must be valid
        </div>
      </div>
      <div class="action">
        <a routerLink="/login" class="btn">Back to Login</a>
        <button [disabled]="myForm.form.invalid">
          <ng-container *ngIf="isLoading; else sendEmailText">
            Loading...
          </ng-container>
          <ng-template #sendEmailText>
            Send Email
          </ng-template>
        </button>
      </div>
    </form>
  </div>
</body>
